# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results

# next.js build
/.next/
/out/
/build

# production/build artifacts
*.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# environment secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
!.env.example

# Vercel deployment folder
.vercel

# Prisma build outputs (if custom path used)
/src/generated/prisma
